body {
    display:flex;
    flex-direction: column;
    line-height: 1.3;

}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5%;
    background-color: #8afdff;
    color: black;
}
h1 {
    font-size: 200%;
    color: black;
}
h2 {
    margin: 2% 0;
    font-size: 180%;
}


nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
   text-decoration: underline;

}

nav a {
    color: rgb(255, 129, 127);
    font-weight: bolder;
    text-decoration: wavy;
}
nav a:hover{
    color: rgb(0, 4, 255);
}

/* when active */
nav a:active{
    font-size: 140%;
    box-shadow: 0, 0, 15px #000 inset;

}

/* element is on focus */
nav a:focus {
    outline: none;
    border-color: #8ac4ff;
}


  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
footer {
    background-color: #9fa7af;
    color: black;
    text-decoration:underline

  }


/* when the screen size is below 992, stack the cards on each other and change the colur to blue */
@media screen and (max-width: 992) {
nav ul {
    width: 50%;
}    

header {
    background-color: blue;
}
}
/* when the screen width is less than 768px, fill up the space and change the background color to light blue */
@media screen and (max-width: 768px) {
    nav ul {
     width: 100%;
    }
    header{
        background: #8ac4ff ;
    }
}